[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux-continuum"]
	path = tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "tmux-copycat"]
	path = tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "tmux-open"]
	path = tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "tmux-logging"]
	path = tmux-logging
	url = https://github.com/tmux-plugins/tmux-logging
[submodule "tmux-yank"]
	path = tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux-resurrect"]
	path = tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux-sensible"]
	path = tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule ".tmux/tpm"]
	path = .tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".tmux/tmux-continuum"]
	path = .tmux/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule ".tmux/tmux-copycat"]
	path = .tmux/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule ".tmux/tmux-open"]
	path = .tmux/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule ".tmux/tmux-logging"]
	path = .tmux/tmux-logging
	url = https://github.com/tmux-plugins/tmux-logging
[submodule ".tmux/tmux-yank"]
	path = .tmux/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule ".tmux/tmux-sensible"]
	path = .tmux/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule ".tmux/tmux-resurrect"]
	path = .tmux/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
