[Desktop Entry]
Categories=
Comment=Agent for Spice guests
Exec=/usr/bin/spice-vdagent
Hidden=true
Name=Spice vdagent
NoDisplay=true
Terminal=false
Type=Application
X-GNOME-Autostart-Phase=Initialization
